@model DefaultIdentity.Areas.Identity.Data.Car

@{
    Layout = null;
}


<div class="card" style="width: 18rem;">
<img src="@Model.ImgUrl">
<div class="card-body">
    <h5 class="card-title">@Model.Make</h5>
    <p class="card-text">@Model.Model</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
</div>
</div>

