$paragSize: 32px;
$spanSize: 16px;

.main-div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    width: 170px;
    text-decoration: none;
    font-family: Calibri;
    font-size: 20px;
    color: #371c60;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

.main-desc {
  p {
    font-size: $paragSize;
  }

  span {
    font-size: 3em;
  }
}
