@import "style";


.navbar {
  height: 75px;
  background-color: red;
  color: white;
  @include flex(row, flex-start, center);
  overflow: hidden;

  .nav-menu {
    display: none;
  }
  .burger-menu {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 24px;
    display: block;
    transition: 0.3s ease-in-out;
  }


    .navbar-items {
      width: 40%;
      list-style-type: none;
      li {
        @include flex(row, space-evenly, center);
      }
  }
}
