@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

body {
  margin: 0;
}

.container {
  margin-left: 10%;
  margin-right: 10%;

  .burger-menu {
    display: none;
  }

  .nav-menu {
    width: 100%;
    @include flex(row, space-between, center);
  }
  .nav-menu-active {
    width: 100%;

    transition: 0.3s ease-in-out;
    background-color: red;
    ul {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      list-style-type: none;
      li {
        padding: 10px;
      }
    }

  }
}

.blocks {
  @include flex(row, space-between, center);
  flex-wrap: wrap;

  h1 {
    white-space: nowrap;
  }
}
