@import "nav";

h1 {
  color: red;
}

.body {
  background-color: blue;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 300px;

  @for $i from 1 through 4 {
    .card-#{$i} {
      height: $i * 10px;
      width: 100px;
      background-color: red;
    }
  }
}




