html {
  font-family: "Calibri";
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}
.container .nav-slider {
  display: none;
}
.container .navbar {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 75px;
  width: 100%;
}
.container .navbar .logo {
  height: 100%;
  width: 15%;
  margin-left: 1%;
}
.container .navbar .logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.container .navbar .burger-menu {
  display: none;
}
.container .navbar .burger-menu i {
  color: white;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.container .navbar .nav-list {
  height: 100%;
  margin: 0;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}
.container .navbar .nav-list li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 10vw;
}
.container .navbar .nav-list li a {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.container .navbar .search-bar {
  width: 20%;
  position: relative;
  display: flex;
  align-items: center;
}
.container .navbar .search-bar input {
  z-index: 1;
  position: absolute;
  height: 37px;
  border: 1px solid #000;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  color: #2C3E50;
  font-size: 13px;
  left: 0%;
  transition: 0.5s ease-in-out;
}
.container .navbar .search-bar #search-btn {
  width: 100%;
  z-index: 2;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-top-right-radius: 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  overflow: visible;
  padding: 9px 15px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.container .navbar .search-bar #search-btn :focus {
  text-decoration: none;
}
.container .navbar .search-bar #search-btn :hover {
  text-decoration: none;
}
.container .navbar .search-bar #search-btn :active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}
.container .navbar .search-bar #search-btn :not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}
@media (min-width: 768px) {
  .container .navbar .search-bar .button-50 {
    padding: 12px 50px;
  }
}

@media screen and (max-width: 768px) {
  .container .navbar {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 75px;
    width: 100%;
  }
  .container .navbar .logo {
    height: 100%;
    width: 15%;
  }
  .container .navbar .logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .container .navbar .nav-list {
    display: none;
  }
  .container .navbar .search-bar {
    margin-left: 45%;
  }
  .container .navbar .burger-menu {
    width: 15%;
    display: flex;
    justify-content: flex-end;
  }
  .container .navbar .burger-menu i {
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
}

/*# sourceMappingURL=style.css.map */
