@page "/"
@model OwnIdentity.Pages.Login

@{
  ViewData["Title"] = "Login";
}
<div class="col-md-6 ">
<form>
  <div class="form-outline mb-4">
    <input type="email" id="mail-input" class="form-control" />
    <label class="form-label" for="mail-input">Email address</label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="password-input" class="form-control" />
    <label class="form-label" for="password-input">Password</label>
  </div>

  <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>

  <div class="text-center">
    <p>Not a member? <a asp-page="Register">Register</a></p>
  </div>
</form>
</div>
