$tan: #d5a785;
$cape-cod: #3b423e;
$arrowtown: #978471;
$soya-bean: #63614f;
$shuttle-gray: #666a77;
$shady-lady: #a8a1a4;
$log-cabin: #121611;
$limed-ash: #727c65;
$edward: #a6ada7;
$desert: #b4641e;