@import "colors";
@import "navbar";

@-webkit-keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}

@keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  30% {
    -webkit-transform: translateX(17px) rotate(-7deg);
    transform: translateX(17px) rotate(-7deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}


body,
html {
  font-family: "Calibri Light";
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.main-div {
  background-image: url("../resources/background.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    margin: 0 20% 0 20%;
    height: 100%;
    //position: relative;

    .main-container {
      height: 100%;
      display: flex;
    }

    .container-top {
      display: flex;
      justify-content: center;
    }
  }

  //.slider {
  //  //display: none;
  //
  //  .mercedes {
  //    left: 100px;
  //    top: 315px;
  //    position: absolute;
  //  }
  //}

  .bottom-blocks {
    background: url("../resources/asfalt.png");
    display: flex;
    align-items: center;
    justify-content: center;

    .block-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 250px;
      width: 250px;
      font-size: 72px;
    }

    div:hover {
      -webkit-animation: wobble-hor-top ease-in-out 0.5s;
      animation: wobble-hor-top ease-in-out 0.5s;
    }
  }
}
